.playlistResults {
  width: 80%;
  max-height: 400px;
  overflow-y: auto;
  background: url("https://images.unsplash.com/photo-1502739391963-eda719c24cd4?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}
